
// Body
$body-background-color: #f5f5f5;

// Typography
$family-primary: "Montserrat", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Open Sans", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$body-weight: 300;
$title-weight: 700;

// Colors
$title-color: #3A298A;
$blue: #3A298A;
$blue-border: #DFD7FD;

// layout
$gap: 64px;
$desktop: 800px + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

// theme specific
$border-color1: #d8d8d8;
$accent-color: #EAA717;
$side-width: 130px;

// navbar 
$navbar-box-shadow-size: 0 2px 10px -6px;
$navbar-box-shadow-color: #ababab;
$navbar-height: 7rem;
$navbar-padding-horizontal: 1.3rem;

// footer
$footer-background-color: #f5f5f5;

// hr
$hr-background-color:#eaeaea;

// box

$box-radius:0.55rem;
$box-shadow: 0 1px 6px -4px #00000045;
$box-padding: 2rem;
