html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.main-wrapper{


    .main{
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

}

.flex-2-right-left{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


